<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load i18n %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>GestorPsi - {% trans "Sistema de Gestão de Serviços em Psicologia" %}{% block title %}{% endblock %}</title>
<script type="text/javascript" src="/media/js/jquery-latest.pack.js"></script> <!-- JQuery Core Library -->
<script type="text/javascript" src="/media/js/jquery.form.js"></script> <!-- jQuery Form Plugin -->
<script type="text/javascript" src="/media/js/jquery.validate.pack.js"></script> <!-- jQuery validation plug-in -->
<script type="text/javascript" src="/media/js/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-personalized-1.5.2.min.js"></script> <!-- JQuery UI with Draggable -->
<script type="text/javascript" src="/media/js/jquery.dimensions.js"></script> <!-- Fixed Save Menu (sidebar right) -->
<script type="text/javascript" src="/media/js/jquery.maskedinput-1.1.3.pack.js"></script> <!-- JQuery Masked Input Plugin -->
<script type="text/javascript" src="/media/js/jquery.scrollTo-min.js"></script> <!-- JQuery Scroll on Page Plugin -->

<script type="text/javascript" src="/media/js/gestorpsi.frontend.js"></script> <!-- gestorpsi interface (ajax links and other stuffs) -->

<style type="text/css" media="all">
@import "/media/css/layout.css";
@import "/media/css/jquery.autocomplete.css";
@import "/media/css/datePicker.css";
</style>

<!--[if gte IE 5]>
<link href="/media/css/main_ie5.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if IE 6]>
<link href="/media/css/main_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->


<!--[if IE 7]>
<link href="/media/css/main_ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
	
</head>

<body>
<a name="top"></a>
<div id="over" style="display:none">
</div>  

<div id="bar"><h1>[GestorPsi]</h1>
</div>
	<div id="menu_log">
		<ul>
			<li><a href="#email">{% trans "email" %}</a></li>|<li><a href="preferencias">{% trans "preferences" %}</a></li>|<li><a href="#sair">{% trans "quit" %}</a></li>
		</ul>
	</div>
	<div id="menus">
	<div id="main_menu">
		<ul>
			<li><a id="start" class="main_menu active">{% trans "start" %}</a></li>
			<li><a id="addressbook" class="main_menu" display="list">{% trans "calendar" %}</a></li>
			<li><a id="customers" class="main_menu" href="/client/" display="list">{% trans "clients" %}</a></li>
			<li><a id="contacts" class="main_menu" display="list">{% trans "contacts" %}</a></li>
			<li><a id="myoffice" class="main_menu notajax" display="list">{% trans "organization" %}</a>
				<ul style="display:none">
					<li><a id="organization">{% trans "My Organization" %}</a></li>
					<li><a id="places" href="/place/" display="list">{% trans "Places" %}</a></li>
					<li><a id="employees" href="/employee/" display="list">{% trans "Employees" %}</a></li>
					<li><a id="careprofessional" href="/careprofessional/" display="list">{% trans "Professionals" %}</a></li>
					<li><a id="services" href="/service/" display="list">{% trans "Services" %}</a></li>
					<!-- <li><a id="rooms">{% trans "Rooms" %}</a></li> -->
					<li><a id="equipament">{% trans "Equipaments" %}</a></li>
					
				</ul>
			</li>
		</ul>
	</div>
	<div id="sub_menu">
		<ul id="sub_customers" style="display:none">
			<li><a display="list" class="active first fastmenu" href="/client/">{% trans "all" %}</a></li>
			<li><a display="form" class="fastmenu" href="/client/">{% trans "add" %}</a></li>
			<li><a>{% trans "search" %}</a></li>
			<li><a>{% trans "booked" %}</a></li>
			<li><a>{% trans "actives" %}</a></li>
			<li><a>{% trans "waiting" %}</a></li>
		</ul>
		
		<ul id="sub_contacts" style="display:none">
			<li><a class="first active" href="/contacts/">{% trans "all" %}</a></li>
			<li><a href="/contacts/add/">{% trans "add" %}</a></li>
			<li><a>{% trans "search" %}</a></li>
		</ul>
		
		<ul id="sub_places" style="display:none">
			<li><a display="list" class="first active fastmenu" href="/place/">{% trans "all" %}</a></li>
			<li><a display="form" class="fastmenu" href="/place/">{% trans "add" %}</a></li>
			<li><a>{% trans "search" %}</a></li>
		</ul>
		
		<!--care employees-->
		<ul id="sub_employees" style="display:none">
			<li><a display="list" class="first active fastmenu" href="/service/">{% trans "all" %}</a></li>
			<li><a display="form" class="fastmenu" href="/service/">{% trans "add" %}</a></li>
			<li><a>{% trans "search" %}</a></li>
		</ul>
		
		<!--care professional-->
		<ul id="sub_careprofessional" style="display:none">
			<li><a display="list" class="first active fastmenu" href="/careprofessional/">{% trans "all" %}</a></li>
			<li><a display="form" class="fastmenu" href="/careprofessional/">{% trans "add" %}</a></li>
			<li><a>{% trans "search" %}</a></li>
		</ul>
		
		<!--services-->
		<ul id="sub_services" style="display:none">
			<li><a display="list" class="first active fastmenu" href="/service/">{% trans "all" %}</a></li>
			<li><a display="form" class="fastmenu" href="/service/">{% trans "add" %}</a></li>
			<li><a>{% trans "search" %}</a></li>
		</ul>
		
		<ul class="opened_tabs" style="display:none;">
			<li>
			<div class="active">
			    <a class="ajaxable"></a>
			    <a class="close"><span>fechar</span></a>
			</div>
			</li>
		</ul>
		<ul id="sub_contacts">
		</ul>
	</div>
	</div>
	<div id="content">
                <div id="msg_area" style="display:none">
			
		</div>
                
		<div id="core">
			<!--  page core -->
		</div>
		
		<div id="loading">
			<p>{% trans "Loading" %} ...</p>
		</div>

	</div>
	<div id="footer">
		2008 GestorPsi©
	</div>
</body>
</html>
