* {
	margin: 0; padding: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a, a:visited {
	text-decoration: none;
	color: #2688AE;
	font-weight: bold;
	cursor: pointer;
}
a:hover {
	color: #2688AE;
	text-decoration: underline;
}

#bar {
	background: #005A7D url(../img/logo_gestorpsi_peq.gif) no-repeat;
	height: 18px;
}
#bar h1 {
	display: none;
}
#menu_log {
	float: right;
	font-size: 10px;
	margin: 10px 5px;
}
#menu_log ul li{
	display: inline;
	list-style: none;
}
#menu_log ul li a, #menu_log ul li a:visited {
	padding: 2px 5px;
	color: #999999;
	text-decoration: none;
}
#menu_log ul li a:hover {
	color: #005A7D;
}
#main_menu  {
	margin: 2px 0 0 10px;
	height: 30px;
}
#main_menu li {
	display: inline;
	list-style: none;
}
#main_menu a {
	display: block;
	float: left;
	list-style: none;
	height: 16px; 
	padding: 8px 10px 5px 30px;
	color: #000000;
	text-decoration: none; 
	background-position: 7px 7px; 
	background-repeat: no-repeat;
}
#main_menu a:hover, #main_menu a.active  {
	background-color: #FCFCFC;
	background-position: 6px 6px;
	background-repeat: no-repeat;
	color: #005A7D;
	border-top: 1px solid #838383;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	padding: 7px 9px 7px 29px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	height: 15px;
}

div#main_menu a.active {
	background-color: #ECECEC;
	height: 16px;
}
#start { background-image: url(../img/16/user-desktop.png);}
#addressbook {background-image: url(../img/16/office-calendar.png);}
#contacts {background-image: url(../img/16/address-book-new.png);}
#customers {background-image: url(../img/16/system-users.png);}
#myoffice {background-image: url(../img/16/go-home.png);}
#sub_menu {
	background: #ECECEC;
	border-top: 1px solid #838383;
	border-bottom: 1px solid #838383;
	height: 50px;
}
#sub_menu ul {
	position: relative;
	top: 15px;
	left: 10px;
}
#sub_menu li {
	display: inline;
	list-style: none;
}

#sub_menu a, #sub_menu a:visited {
	display: block;
	float: left;
	list-style: none;
	height: 16px; 
	padding: 13px 20px 5px 20px;
	color: #787878;
	text-decoration: none;
}
#sub_menu a:hover, #sub_menu a.active  {
	background: #F7F7F7;
	color: #000000;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	padding: 13px 20px 6px 20px;
	border-bottom: 1px solid #DDDDDD;
	height: 16px;
}

div#sub_menu a.active {
	background: #FFFFFF;
	height: 16px;
	border-top: 1px solid #838383;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	padding: 12px 19px 7px 19px;
	border-bottom: none;

}

#myoffice.main_menu {
width: 139px;
}

#main_menu a#places {background: url(../img/16/office.png) no-repeat 25px 4px;}
#main_menu a#organization {background: url(../img/16/office.png) no-repeat 25px 4px;}
#main_menu a#services {background: url(../img/16/games.png) no-repeat 25px 4px;}
#main_menu a#rooms {background: url(../img/16/rooms.png) no-repeat 25px 4px;}
#main_menu a#equipament {background: url(../img/16/stuff.png) no-repeat 25px 4px;}
#main_menu a#team {background: url(../img/16/system-users.png) no-repeat 25px 4px;}

#main_menu ul li ul {
	display: block;
	position: absolute;
	top: 49px;
	left: 356px;
	width: 177px;
	height: 112px;
	background: #FCFCFC;
	z-index: 5;
	border-bottom: 1px solid #838383;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	padding-top: 10px;
}
#main_menu ul li ul li a{
	float: none;
	font-weight: normal;
	padding: 5px 3px 3px 50px;
	border: none;
}
#main_menu ul li ul li a:hover{
	float: none;
	font-weight: normal;
	padding: 5px 3px 4px 50px;
	border: none;
}

#sub_menu ul.opened_tabs {
	
	/*para alinhar relativo a direita*/
	float: right;
	margin-right: 50px;
	
	/*para alinhar relativo a esquerda
	top: 15px;
	left: 200px;*/
	
}
#content {
	width: 990px;
	margin-bottom: 10px;
}
#content h2 {
	font-size: 22px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 24px;
	color: #808080; 
	font-weight: normal;
	padding: 15px 0 7px 70px;
	height: 45px;
}
#content p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 11px;
	padding-left: 15px;
	color: #000000;
	margin: 10px 0 10px 10px;
}
#content a {
	font-weight: normal;
}
#content h2#title_clients {background: url(../img/42/system-users.png) no-repeat 20px 15px;}
#content h2#title_addressbook {background: url(../img/42/office-calendar.png) no-repeat 20px 15px;}
#content h2#title_contacts {background: url(../img/42/address-book-new.png) no-repeat 20px 15px;}
#content h2#title_myoffice {background: url(../img/42/go-home.png) no-repeat 20px 15px;}

#content p.description {
	font-size: 9px;
	margin: -25px 0 10px 65px;
}
#content p.description a {
	font-weight: bold;
}
#msg_area {
	padding: 15px 20px;
	margin: 10px 20px;
	background: #CCCCCC;
	border: 2px solid #999999;
}
#msg_area.alert {
	background:#FFFFCC;
	border: 2px solid #FFFF00;
}
#msg_area.error {
	background:#FFCCCC;
	border: 2px solid #FF0000;
}
#main_area {
	width: 715px;
	min-height: 270px;
	background: #ECECEC;
	border: 1px solid #999999;
	margin: 0 0 10px 20px;
	float: left;
	position: relative;
}
#main_area.contact {
	background: none;
	border: none;
}
#main_area h3 {
	font-size: 11px;
	padding: 4px 5px;
	border-bottom: 1px solid #CCCCCC;
}
#main_area h3 span {
	color: #000000;
	text-decoration: none;
	padding-left: 20px;
	background: url(../img/bg_options.gif) no-repeat;
	cursor: pointer;
}

#main_area div.label {
	float: left;
	color: #916F6F;
	font-size: 11px;
	margin: 10px 0 0 6px;
	line-height: 20px;
	padding: 0
}
#content #main_area div[class=label] {margin-left: 12px}

#help {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: url(../img/bg_help.gif) no-repeat;
	margin: 2px;
	text-decoration: none;
}
#photo {
	float: right;
	margin-top: 17px;
	margin-right: 15px;
	width: 116px;
}
#photo a {
	display: block;
	float: left;
	height: 16px;
	padding-top: 2px;
	text-decoration: none;
	color: #999999;
	margin-top: 2px;
}
#photo a span {
	display: none;
}
#male {
	background:url(../img/ico_male.gif) no-repeat;
	width: 14px
}
#female {
	background:url(../img/ico_female.gif) no-repeat;
	width: 14px
}
a.delete {
	display: block;
	background: url(../img/ico_edit-delete.png) no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 2px;
}
a.edit {
	display: block;
	background: url(../img/ico_edit.png) no-repeat;
	width: 16px;
	height: 16px;
	padding-top: 2px;
}
a.clips {
	background:url(../img/ico_clips.gif) no-repeat 98% 0;
	text-align: right;
	padding-right: 20px;
	padding-top: 5px;
}
a.prase_edit {
	background:url(../img/ico_edit.png) no-repeat 98% 0;
	text-align: right;
	padding-right: 20px;
	padding-top: 5px;
}
#photo .clips {
	margin-left: 10px;
}
#photo a:hover, #photo a.active {
	background-position: 0 -18px;
	color: #005A7D; 
}
#content a.clips:hover, #content a.prase_edit:hover {
	background-position: 98% -18px;
}
#content a.delete:hover, #content a.edit:hover {
	background-position: 0 -18px;
}
#content a.delete span, #content a.edit span {
	display: none
}
#main_area label {
	float: left;
	margin: 2px;
	color: #916F6F;
	font-size: 11px;
	margin: 10px 0 0 12px;
	line-height: 20px;
}
#main_area .clear, #main_area .newline {
	clear: left;
}
#main_area input[type=text], textarea {
	font-size: 16px;
	padding: 5px;
	border: 2px solid #F9F9F9;
	background: #F9F9F9;
	letter-spacing: 0.05em;
}
#main_area input[type=text]:focus, textarea:focus {
	border: 2px solid #2688ae;
	background: #fff6d5;
}
.btn {
padding: 5px 20px;
margin-top: 22px;
}
.btn2 {
padding: 5px 20px;
margin-top: 5px;
margin-left: 15px;
}
.giant {width: 670px;}
.big {
	width: 344px;
}

.extrabig {
	width: 532px;
}

.medium {
	width: 175px;
}

.extramedium {
width: 310px;
}

.small {
	width: 76px;
}

.extrasmall {
	width: 38px;
}

.calendar {
	width: 105px;
}

select {
	height: 32px;
	font-size:16px;
}
select.small {
	width: 85px;
}
select.medium {
	width: 184px;
}
select.big, #send_file.big {
	width: 353px;
}
select:focus {
	background: #fff6d5;
	border: 2px solid #2688ae;
}
textarea {
}
#sidebar {
	margin-left: 753px;
}
#sidebar .bg_blue {
	background: #005A7D;
	border: 1px solid black;
	color: #FFFFFF;
	padding: 5px;
}
#sidebar .bg_blue p {
	color: #FFFFFF;
}
#sidebar .bg_blue input {
	background: #E6E6E6;
	border: 1px solid #FFFFFF;
	padding: 10px 15px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	color: #45ACD4;
	margin: 10px;
	margin-right: 0;
	font-weight: bold;
	cursor: pointer;
}
#sidebar .bg_blue input:hover {
	background: #45ACD4;
	color: #E6E6E6;
	cursor: pointer;
}
#sidebar p {
	margin: 5px;
	font-size: 10px;
	padding: 0
}
#sidebar h3 {
	border-bottom: 1px solid #000000;
	margin-top: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 2px;
	letter-spacing: 0.05em;
}
#sidebar ul {
	margin: 10px 0;
}
#sidebar li {
	list-style: none;
	padding-left: 10px;
}
#sidebar li a {
	line-height: 22px;
	padding: 5px 0 5px 25px;
	color: #000000;
}
#sidebar li #admit {
	background: url(../img/ico_reg.png) no-repeat 0 3px;
}
.float_menu {
	padding: 5px;
	border: 1px solid #999999;
	background: #ECECEC;
	position: absolute;
	width: 200px;
	font-size: 11px;
	color: #666666;
}
.float_menu li {
	list-style: none;
	line-height: 25px;
}
#form_options {
	top: 20px;
	left: -5px;
	z-index: 5;
}
#form_options li {
	padding-left: 5px;
}
#form_options input {
	position:relative;
	top: 2px;
}
#form_options label {
	display: inline;
	float: none;
	color: #666666;
	cursor: pointer;
}
hr {
	color: #999999;
	background-color: #999999;
	border: none;
	margin: 3px 0;
	height: 1px;
}
.overflow {
	clear: both;
	width: 682px;
	margin-left: 10px;
	height: 150px;
	overflow: auto;
	background-color: #f2f2f2;
	border: 2px solid #E2E2E2;
}
.overflow table {
	width: 660px;
	font-size: 11px;
	color: #999999;
}
.overflow table td {
	padding: 5px;
}
/* Zebra nas linhas*/
.zebra_0{background: #F2F2F2;}
.zebra_1{background: #F9F9F9;}



#indicator_description {
	clear: both;
	width: 682px;
	margin: auto;
	height: 80px;
	background: #F2F2F2;
}
#indicator_description h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: none;
	color: #000000;
	font-weight: normal;
	padding: 10px 20px 5px 20px;
}
#content #indicator_description p {
	font-family: Sans, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	color: #666666;
	padding: 0 20px;
	margin: 0;
}
#documents {
	clear: both;
	background: #F2F2F2;
	width: 662px;
	margin-left: 10px;
	padding: 10px
}
#content .empty {
	color: #999999;
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
}
#send_file {
	height: 34px;
	font-size: 16px;
}
#content #documents table {
	font-size: 9px;
	color: #999999;
}
#documents table td {
	padding: 5px 7px;
}
#documents table span {
	color: #000000;
}
#documents table span.time {
	color: #999999;
}
#documents table span.pdf {
	background: url(../img/16/filetype_small_pdf.gif) no-repeat 0 2px;
	padding: 5px 5px 5px 20px;
}
#sidebar #status {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #999999;
	line-height: 20px;
}
#sidebar #status span {
	color: #000000;

}
.btn_right {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 10px;
}
.documents_form {
	clear: both; 
}
#content .documents_form p, #loading p {
	padding: 20px 45px; 
	background: url(../img/16/ajax_load.gif) no-repeat 20px 18px; 
	font-weight: bold; 
	color: #999999;
}

#loading p { 
padding: 15px 45px; 
	position: absolute;
	bottom: 0px;
	right: 0px;
	display:none;
}

#search_header {
	height: 50px;
	width: 715px;
}

.capital_letter {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 50px;
	height: 46px;
	font-size: 48px;
	vertical-align: text-top;	
	color: #999999;
	float: left;
	margin-top: -4px;
	text-align: center;
}
.contact #search_header input {
	float: left;
	width: 120px;
	margin-top: 7px;
	background: #FFFFFF url(../img/22/search.png) no-repeat 98% 3px;
	border: 2px solid #CCCCCC;
}
.contact #search_header input:focus {
	background: #fff6d5 url(../img/22/search.png) no-repeat 98% 3px;
}
#cleanup {
	display: block;
	float: left;
	width: 26px;
	height: 48px;
	background: url(../img/22/cleanup.png) 5px 12px no-repeat;
}
#letter_menu {
	margin-top: 15px;
	margin-left: 15px;
	font-size: 12px;
}
#letter_menu td {
	text-align: center;
	width: 14px;
}
#letter_menu td a, #letter_menu td a:visited {
	font-weight: bold;
	color: #CCCCCC;
}
#letter_menu td a:hover {
	color: #2688AE;
}
#letter_menu td a.active {
	color: #000000;
}
#letter_back, #letter_fwd, #letter_back:visited, #letter_fwd:visited {
	display: block;
	height: 12px;
	float: right;
	width: 14px;
	font-size: 11px;
	font-weight: bold;
	color: #CCCCCC;
}
#letter_back {
	padding: 32px 26px 0 6px;
	background: url(../img/arrow_back.png) no-repeat;
}
#letter_back.disable {background: url(../img/arrow_back_disable.png)}
#letter_back:hover { 
	background: url(../img/arrow_back_on.png); 
	text-decoration: none; 
}
#letter_fwd {
	padding: 32px 0 0 32px;
	background: url(../img/arrow_fwd.png) no-repeat; 
}
#letter_fwd.disable {background: url(../img/arrow_fwd_disable.png) no-repeat;}
#letter_fwd:hover {
	background: url(../img/arrow_fwd_on.png);
	text-decoration: none; 
}
#search_results {
	width: 715px;
}
#search_results td:first-child {
	width: 300px;
}
#search_results td {
	padding: 10px 10px;
	color: #333333;
	font-size: 10px;
	vertical-align: top;
	border-top: 2px solid #FFFFFF;
}
#search_results td.icons {
	text-align: center;
	vertical-align: middle;
}
#search_results td:first-line {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}
#search_results tr:hover {
	background: #B8CFE9;
}
#search_results a {
	font-weight: inherit;
	color: inherit;
}
#legend div {
	float: left;
	padding: 10px 10px;
	font-size: 10px;
	color: #999999;
}
#legend div img {
	margin: -2px 3px 0 0;
}

.ajax_link {
	cursor: pointer;
}

fieldset legend {
	color: #999999;
	padding: 0px 5px 0px 5px;
	margin: 0 0 0 8px;
}

form fieldset {
	border: 1px solid #CCCCCC;
	padding: 0px 0 15px 0px;
	margin: 10px 10px 0 10px;
}

#photo_form_upload {
	position: absolute;
	margin-top: 0px;
	margin-left: 350px;
	_margin-left: -350px;
	_margin-top: -100px;
	background-color: #fff;
	border: 1px solid black;
	padding: 30px 30px 30px 30px;
	
}

#photo_form_upload_dragplace {
/*
	position: absolute;
	left:350px;
	top:0px;
	width:250px;
	background-color:#f0f5FF;
	border: 1px solid #000;
	z-index: 50;
	*/
	width: 850px;
	height: 120px;
	display:none;
}

#over {
	width: 110%;
	position: fixed;
	margin: -55px 0 75px -22px;
	background:  url("/media/img/transp75.png");
	/*border-top: 1px solid #1D76BB;
	border-bottom: 1px solid #1D76BB;
*/
	z-index: 6;
	min-height: 500px;
}

img#img_people {
	width: 116px;
	height: 134px;
}

label a.remove_from_form {
display:block;
clear: both;
padding-top: 24px;
}

label.add_to_form {
display:block;
clear: both;
}

div.form_address_box, div.form_phone_box {
clear: both;
margin-bottom: 100px;
margin-top: 150px;
border-bottom: 1px solid #cccccc;
}

div.form_address_box {
margin-top: 0px;
}

.form_address_box.first {
border-bottom: 0px solid #cccccc;
margin-bottom: 210px;
}


div.form_phone_box {
margin-bottom: 0px;
margin-top: 0px;
border-bottom: 0px solid #cccccc;

}

#fieldset_phone {
margin-bottom: 10px;
}

select.country {
width: 150px;
}

#footer {
float: left;
width: 100%;
padding: 8px;
margin-top: 20px;
font-size: 10px;
color: #cccccc;
text-align:center;
}
