{% extends "gcm/main.html" %}

{% load i18n %}

{% block section %}{% trans "Planos" %}{% endblock %}
{% block title %}{% trans "Planos" %}{% endblock %}

{% block core %}
{% if not object_list %}
<p>
    {% trans "You dont have any plan registered yet!" %}
</p>

{% else %}
    <table>
    <tr><th>{% trans "Nome do Plano" %}</th><th>{% trans "Valor" %}</th><th>{% trans "Validade (meses)" %}</th><th>{% trans "Peso" %}</th><th>{% trans "Ativo" %}</th></tr>
    {% for object in object_list %}
    <tr class="{% cycle 'even' '' %}">
        <td>
            <a href="{% url plan-update object.id %}" class="tag">
            {{ object.name }}
            </a>
        </td>
        <td>{{ object.value }}</td>
        <td>{{ object.duration }}</td>
        <td>{{ object.weight }}</td>
        <td>{% if object.active %}{% trans "Sim" %}{% else %}{% trans "Não" %}{% endif %}</td>
    </tr>
    {% endfor %}
    </table>

{% endif %}

<a href="{% url plan-add %}">{% trans "Add" %}</a>
{% endblock %}
