{% extends "gcm/main.html" %}

{% load i18n %}

{% block section %}{% trans "Arquivos de retorno" %}{% endblock %}
{% block title %}{% trans "Arquivos de retorno" %}{% endblock %}

{% block core %}
<script>
$(function() {
	//$.datepicker();
    $('input[name=date_import]').datepicker({dateFormat: 'yy-mm-dd h:i:s'});
    //$('input[name=date_import]').formatDate('yy-mm-dd');
});
</script>
<h2>{{ object }}</h2>
<form action="{% if not object %}{% url retfile-add %}{% else %}{% url retfile-update object.id %}{% endif %}" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>{% trans "retfile Details" %}</legend>
        {% for field in form %}
        {% if field.name = 'date_import' and not object %}
        <input type="hidden" name="date_import" value="{{field.value|date:'Y-m-d h:i:s'}}" />
        {% else %}
        <p>
        	{{ field.errors }}
	        <label>{{ field.label }}</label><br>
	        {{ field }}
	        <small>{{ field.help_text }}</small>
        </p>
        <br/>
        {% endif %}
        {% endfor %}
    <p><br /><input type="submit" value="{% trans "Save" %}" class="submit"></p>
    </fieldset>
</form>

<a href="{% url retfile-list %}">{% trans "Back" %}</a>
{% if object %}<a href="{% url retfile-add %}">{% trans "Add" %}</a>{% endif %}
{% endblock %}
