{% extends "gcm/main.html" %}

{% load i18n %}

{% block section %}{% trans "Arquivos de retorno" %}{% endblock %}
{% block title %}{% trans "Arquivos de retorno" %}{% endblock %}

{% block core %}
{% if not object_list %}
<p>
    {% trans "You dont have any return file sent yet!" %}
</p>

{% else %}
    <table>
    <tr>
    	<th>{% trans "Data" %}</th>
    	<th>{% trans "Nome do arquivo" %}</th>
    	<th>{% trans "Banco" %}</th>
    </tr>
    {% for object in object_list %}
    <tr class="{% cycle 'even' '' %}">
        <td>
            <a href="{% url retfile-update object.id %}" class="tag">
            {{ object.date_import}}
            </a>
        </td>
        <td>{{ object.arquivo_retorno}}</td>
        <td>{{ object.get_banco_display }}</td>
    </tr>
    {% endfor %}
    </table>

{% endif %}

<a href="{% url retfile-add %}">{% trans "Add" %}</a>
{% endblock %}
