<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Formulário</title>
</head>
<body>
    <!--<table>
        <tr>
            <th>{{ eForm.name.label_tag }}</th>
            <td>{{ eForm.name }}</td>
            <th>{{ eForm.email.label_tag }}</th>
            <td>{{ eForm.email }}</td>
            <th>{{ eForm.site.label_tag }}</th>
            <td>{{ eForm.site }}</td>
        </tr>
    </table> -->
    
    <h3>{{ message }}</h3>
     
    <form method="post" action=".">
        <table>
            {% for field in eForm %}
            <h3>{{ field.label_tag }}</h3>
            {{ field }}
            {% endfor %}
        </table>
        <br>
        <input type="submit" name="submit" value="Alterar" />
    </form>    
            
</body>
</html>
