{% load i18n %}
{% include "core/ajax_page.html" %}

{% if object.id %}
	<div class="edit_form">
	<h2 class="title_services">{{ object.label }}</h2>
	<p class="description"><br />	
{% else %}
	<h2 class="title_services">{% trans "Adding New Service" %}</h2>
	<p class="description">{% trans "Inform the service details then click on Save button" %}</p>
{% endif %}


</p>

<form action="/service/{% if object.id %}{{ object.id }}/{% endif %}save/" method="post" id="form_service" class="form_service">	
<div id="main_area">

	<a href="" id="help">&nbsp;</a>

<div id="place_form">

	<!--
	Service Identification 
	-->
	
	<fieldset id="fieldset_service_identification">
		<legend>{% trans "Service Identification" %}</legend>
			<label>{% trans "Service Name" %}<br />
			<input type="text" name="service_name" class="extrabig tabtitle" value="{{ object.name }}" id="id_name" />
			</label>
			<label>{% trans "Service Description" %}<br />
				<textarea name="service_description" class="extrabig">{{ object.description }}</textarea>				
			</label>
			<!--
			</label>
				<label>{% trans "Keywords" %}<br />
				<input type="text" name="service_keywords" class="extrabig tabtitle" value="{{ object.keywords }}" id="id_keywords" />
			</label>
			-->
	</fieldset>

	<!--
	Service Profile 
	-->
	
	<fieldset id="fieldset_service_profile">
		<legend>{% trans "Service Profile" %}</legend>
	
		<label>{% trans "Area" %}<br>
		<select name="service_area" class="medium">
			<option value="1">Clínica</option>
			<option value="2" disabled>Escolar</option>
			<option value="3" disabled>Esporte</option>
			<option value="4" disabled>Jurídica</option>
			<option value="5" disabled>Hospitalar</option>
			<option value="6" disabled>Neuropsicologia</option>
			<option value="7" disabled>Organizacional</option>
			<option value="8" disabled>Psicopedagogia</option>
			<option value="9" disabled>Psicologia Social</option>
			<option value="10" disabled>Psicomotricidade</option>
			<option value="11" disabled>Trânsito</option>
		</select>
		</label>
		
		
		<label>{% trans "Type" %}<br />
		<select name="service_type" class="medium">
			<option value="1">Contínuo</option>
			<option value="2">Não Contínuo</option>
			<option value="3">Avaliação</option>
			<option value="4">Triagem</option>
			<option value="5">Supervisão e Interconsulta</option>
			<option value="6">Serviços complementares</option>
		</select>
		</label>

		<label>{% trans "Solicitation" %}<br />
		<select name="service_solicitation" class="medium">
			<option value="1">Individual</option>
			<option value="2">Casal</option>
			<option value="3">Familiar</option>
			<option value="4">Grupo</option>
		</select>
		</label>
		
		<label>{% trans "Age" %}<br />
		<select name="service_age" multiple="multiple" class="extramedium multiple small_fonts asm">
			{% for l in AgeGroups %}
			<option value="{{ l.id }}">{{ l }}</option>
			{% endfor %}
		</select>
		</label>
		
		<label>{% trans "Profession" %}<br />
		<select name="service_age" multiple="multiple" class="extramedium multiple small_fonts asm">
			<option value="2231-15">Médico (clinico geral)</option>
			<option value="2231-42">Médico (neurologista)</option>
			<option value="2231-53">Médico (psiquiatra)</option>
			<option value="2516-05">Assistente social</option>
			<option value="2235-05">Enfermeiro</option>
			<option value="2236-05">Fisioterapeuta</option>
			<option value="2238-10">Fonoaudiólogo</option>
			<option value="2237-10">Nutricionista</option>
			<option value="2394-15">Pedagogo</option>
			<option value="2515">Psicólogo</option>
			<option value="2236-20">Terapeuta ocupacional</option>
		</select>
		</label>

	</fieldset>
		
	<fieldset id="fieldset_service_procedure">
		<legend>{% trans "Service Procedures" %}</legend>

		<!-- itens to choice -->
		<label>
			{% for l in ProcedureProviders %}
			<a class="notajax select_multiple_menu" display="service_procedure_{{ l.name }}">{{ l.name }}</a>
			{% endfor %}
		<br />
		{% for l in Procedures %}
			{% ifchanged l.procedure %}
				{% if not forloop.first %}
				</select>
				{% endif %}
				<select multiple="multiple" id="service_procedure_{{ l.procedure.name }}" class="extramedium multiple itens_available small_fonts{% if forloop.first %} first{% endif %}">
			{% endifchanged %}
				<option value="{{ l.id }}">{{ l.description }}</option>
	
			{% if forloop.last %}
				</select>
			{% endif %}
		{% endfor %}
			
		{% comment %}
		<select multiple="multiple" id="service_procedure_gestorpsi" class="extramedium multiple itens_available small_fonts">
			<option value="7">Comport. do Fumante p/ Atend/Paciente</option>
			<option value="8">Adolesc c Transt Mentais Semi-Int Máx 12</option>
			<option value="9">Transt Mentais Intens Máx 22</option>
		</select>
		
		
		<select multiple="multiple" id="service_procedure_conxinxina" class="extramedium multiple itens_available small_fonts">
			<option value="10">hermy judn laoluw lneur put </option>
			<option value="11">hermy b ueb oeu poe lneur put </option>
			<option value="12">Transt uo popul humtli</option>
		</select>
		{% endcomment %}	
			
		</label>
		
		<!-- itens choiced -->
		
		<label>{% trans "Procedures Choiced" %}<br />
		
		<select name="service_type_procedure" multiple="multiple" group="service_procedure" class="extramedium multiple itens_selected small_fonts">
		</select>
		
		</label>
		
		
			
	</fieldset>
	

	
	<!--
	Services Relations
	-->
	
	<fieldset>
		<legend>{% trans "Service Relations" %}</legend>
	
			<label>{% trans "Agreements" %}<br />
			<span>
			<select multiple="multiple" name="service_agreement" class="select multiple extrabig asm">
				{% for l in Agreements %}
				<option value="{{ l.id }}">{{ l }}</option>
				{% endfor %}
			</select>
			</span>
			</label>
	
			<label>{% trans "Professional" %}<br />
			<span>
			<select multiple="multiple" name="service_responsibles" class="select multiple extrabig asm">
				{% for l in CareProfessionals %}
				<option value="{{ l.id }}">{{ l }}</option>
				{% endfor %}
			</select>
			</span>
			</label>
	
			<label class="service_research_project">{% trans "Research Project" %}<br />
				<span>
				<select name="service_research_project" class="extrabig">
					<option value=""></option>
					{% for l in ResearchProjects %}
					<option value="{{ l.id }}">{{ l }}</option>
					{% endfor %}
				</select>
				</span>
			</label>
	
	</fieldset>	
	
	<!--
	Service must to have a status
	-->
	
	<fieldset id="fieldset_service_active">
		<legend>{% trans "Service Status" %}</legend>
			<label>{% trans "Active?" %}<br />
			<select id="id_active" name="service_active" class="small">
			<option value="True" {% if object.active %} selected{% endif %}>{% trans "Yes" %}</option>
			<option value="False" {% if not object.active %} selected{% endif %}>{% trans "No" %}</option>
			</select>
			</label>
	</fieldset>

</div>
	
	<!--<fieldset id="fieldset_room_identification" style="display:none">-->
	<!--<legend>{% trans "Room Details" %}</legend>-->
	<!---->
	<!--	{% if not rooms %}-->
	<!--		{% include "tags/room.html" %}-->
	<!--	{% else %}-->
	<!--	{% for room in rooms %}-->
	<!--		{% include "tags/room.html" %}-->
	<!--	{% endfor %}-->
	<!--	{% endif %}-->
	<!---->
	<!--	<div id="room_more"></div>-->
	<!---->
	<!--</fieldset>-->
<br />	
</div>

<div id="sidebar">
	<div class="bg_blue">
		<input type="hidden" name="place" value="{{ object.id }}" />
		{% include "tags/save.html" %}
	</div>
		<div id="place_actions" {% if not object.id %}style="display:none"{% endif %}>	
		<h3>{% trans 'Object Actions' %}</h3>
		<ul>
			<li id="add_room" class="add_to_form"><a class="notajax" href="#top">{% trans "Add room in this place" %}</a></li>
		</ul>
		
		<!--
		<div id="div_list_rooms" style="display:{% if not rooms %}none{% endif %}">
		<h3>{% trans 'Rooms from this place' %}</h3>
		<ul>
			<li class="li_rooms" style="display:none">&nbsp;</li>
			{% for room in rooms %}
			<li class="li_rooms" id="li_room_{{ room.id }}"><a class="notajax" display="{{ room.id }}" href="#top">{{ room }}</a></li>
			{% endfor %}
			
		</ul>
		</div>
		-->
		
		
	</div>
</div>

</form>

{% if object.id %}
</div> <!-- edit_form -->
{% endif %}


