{% load i18n %}
{% include "core/ajax_page.html" %}

<div id="msg_area" class="alert" style="display:none"><!-- ou class="error" ou sem classe -->
{% if not client.id %}
	{% trans "Client added successful!" %}
{% else %}
	{% trans "Client saved successful!" %}
{% endif %}
</div>
<h2 id="title_addressbook" style="display:none"></h2>

{% if client.id %}
	<h2 id="title_clients">{{ client.name }}</h2>
	<p class="description">Cliente cadastrado em <a href="#">0 Servi&ccedil;os</a> nonnoono nonono noono<br />
	nonononoo<br />
	<script>
	$(document).ready(function(){
		/**
		create new tab when editing an user
		*/
		$('#sub_menu ul li a').removeClass('active');
		$("#sub_menu_client_extras").html('<li><a class="active makemeajax" id="client_{{ client.id }}" href="/client/{{ client.id }}">{{ client.name }}</a></li>');
		
		$(".makemeajax").each(function(){
		var link = $(this);
		link.click(function() {
			 $.get(link.attr('href'),
				 function(data) {
					 if(!link.attr('href')) {
						 alert('I am a ajaxlink, but i dont have the "href" atributte defined in the "<a>" tag');
						 exit();
					 } else {
						 $("#core").html(data);
					 }
					 
			 });
			 return false;
			 })
		 });

	});
		
	</script>
{% else %}
	<h2 id="title_clients">{% trans "Adding New Client" %}</h2>
	<p class="description">{% trans "Inform the client details then click on Save button" %}</p>
{% endif %}


</p>
<h2 id="title_contacts" style="display:none"></h2>
<h2 id="title_myoffice" style="display:none"></h2>


<form action="/client/{% if client.id %}{{ client.id }}/{% endif %}save/" method="post" id="form_people">	
<div id="main_area">

	<a href="" id="help">&nbsp;</a>
	<!-- DataTypes form menu -->
	<h3><span id="client_add_infotypes">{% trans "Demographic" %}</span></h3>
	<ul id="form_options" class="float_menu" style="display:none;">
		<li><label><input name="this" type="radio" value="" checked/>{% trans "Demographic" %}</label></li>
		<li><label><input name="this" type="radio" value="" />{% trans "Socio-Demographic" %}</label></li>
		<li><label><input name="this" type="radio" value="" />{% trans "Socio-Economic" %}</label></li>
	</ul>
	<div id="photo">
		<img id="img_people" src="/media/img/male_generic_photo.gif.png" />
		<a id="male" class="notajax gender{% ifequal person.gender 'M' %} active{% endifequal %}" value="M"><span>{% trans "Male" %}</span></a>
		<a id="female" class="notajax gender{% ifequal person.gender 'F' %} active{% endifequal %}" value="F"><span>{% trans "Female" %}</span></a>

		<a class="clips notajax" >{% trans "Photo" %}</a>
		<input type="hidden" name="photo" value="{{ person.photo }}" id="id_photo">
		<a href="notajax" class="delete" title="delete" onclick="$('#id_photo').val(''); $('img#img_people').attr('src', '/media/img/male_generic_photo.gif.png'); "><span>{% trans "Delete" %}</span></a>
		<input type="hidden" name="gender" value="{{ person.gender }}" id="id_gender">

	</div> 
	
	<!-- DELETEMEEEEEEEE ASAP!!!!!!!!!!!!!!!! -->
	
	<input type="hidden" name="email" value="joao@joao.com">
	<!--
	People Personal Identification Form	
	-->
	
	<fieldset id="fieldset_personal_identification">
		<legend>{% trans "Personal Identification" %}</legend>
			<label>{% trans "Name" %}<br />
			<input type="text" name="name" class="extrabig" value="{{ person.name }}" id="id_name" />
			</label>
			<label>{% trans "CPF" %}<br />
			<input type="text" name="cpf" class="medium" value="{{ person.cpf }}" id="id_cpf" mask="999.999.999-99" />
			</label>
			<label>{% trans "RG" %}<br />
			<input type="text" name="rg" class="medium" value="{{ person.rg }}" id="id_rg" mask="99.999.999-9"/>
			</label>
			<label>{% trans "Issuer" %}<br />
			<input type="text" name="issuer" class="small" value="{{ person.issuer }}" id="id_issuer" />
			</label>
	</fieldset>
	
	<!--
	People Personal Profile Form	
	-->
		
	<fieldset id="fieldset_personal_profile">
		<legend>{% trans "Personal Profile" %}</legend>
			<label>{% trans "Birthdate" %}<br />
			<input type="text" name="birthDate" class="calendar birthdate" value="{{ person.birthDate }}" id="id_birthDate" />
			</label>
			<label>{% trans "Age" %}<br />
			<input type="text" name="age" class="extrasmall" value="{{ person.age }}" id="id_age" />
			</label>
			<label>{% trans "Naturality" %}<br />
			<input type="text" name="birthPlace" class="medium" value="{{ person.birthPlace }}" id="id_birthPlace" />
			</label>
			<label>{% trans "Region" %}<br />
			<input type="text" name="birthRegion" class="extrasmall" value="{{ person.birthRegion }}" id="id_birthRegion" />
			</label>
			<label>{% trans "Nationality" %}<br />
			<input type="text" name="nationality" class="medium" value="{{ person.nationality }}" id="id_nationality" />
			</label>
	</fieldset>
	
	
	<!--
	people addresses  
	-->
		
	<fieldset id="fieldset_address">
		<legend>{% trans "Addresses" %}</legend>
			{% if not addresses %}
				{% include "tags/address.html" %}
			{% else %}
				{% for address in addresses %}
					{% include "tags/address.html" %}
				{% endfor %}
			{% endif %}
			
		<label id="address_more" class="add_to_form"><a class="notajax">{% trans "Add Address" %}</a></label>	
	</fieldset>
	
	
	<!--
	people phone numbers
	-->
		
	<fieldset id="fieldset_phone">
		<legend>{% trans "Phones" %}</legend>
			{% if not phones %}
				{% include "tags/phone.html" %}
			{% else %}
				{% for phone in phones %}
					{% include "tags/phone.html" %}
				{% endfor %}
			{% endif %}
		<label id="phone_more" class="add_to_form"><a class="notajax">{% trans "Add Phone" %}</a></label>	
		</fieldset>
		
	<!-- <div id="display"></div> -->
	
	<!--
	<label class="clear">DDD&nbsp;Fone<br />

	<input type="text" name="area" id="id_area" class="small" value="" /></label>
	<label>Telefone<br />
	<input type="text" id="id_phoneNumber" class="big" name="phoneNumber" /></label>
	<label>Tipo<br />
	<select name="type_phone" class="small">
		<option selected="selected">Comercial</option>
		<option>Residencial</option>
	</select></label>
	
	-->
	
</div>

<div id="sidebar">
	<div class="bg_blue">
		<input name="save" type="submit" value="Salvar" />
		<input name="save" type="button" value="Cancelar" />
		
		<div id="msg_info">
		Apagar arquivo?
			<p>&Uacute;ltima edi&ccedil;&atilde;o por LPanebr em 17 de 
			Novembro, 2007 &agrave;s 17:36 h</p>

		</div>
	</div>
	<div id="people_actions" style="display:none">	
	<h3>Ações de Registro</h3>
	<ul>
		<li><a href="realizar_admissao.html" id="admit">Realizar Admiss&atilde;o</a></li>
	</ul>
	</div>
</div>

</form>


<!-- upload form -->
<div id="photo_form_upload_dragplace">
<div id="photo_form_upload">
		{% trans "Select a picture" %}:
		<form action="/upload/" method="post" id="form_file" name="form_file" enctype="multipart/form-data">
		<input type="file" class="file" name="file" id="id_file" onchange="$('#form_file').submit()"/>
		</form>
		<small><a class="notajax" onclick="$('#photo_form_upload_dragplace').hide();">{% trans "Cancel" %}</a></small>
</div>
</div>


