<html>
	<head>
		<title>GestorPsi - Cobrança</title>
	</head>
	<body>
		<p>
			Olá senhor(a) {{person.name}},
			<br/><br/>
			
			{% if last_invoice %}
			é muito bom tê-lo conosco. Porém, o período de validade de sua assinatura está chegando ao fim ({{last_invoice.expiry_date}}).<br/> 
			Para continuar usufruindo de nosso sistema será preciso pagar a mensalidade em até 10 dias corridos (até {{inv.due_date|date:"d \d\e M \d\e Y"}}).
			{% else %}
			seja bem vindo. Para que a sua assinatura passe a ter validade será preciso pagar a mensalidade em até 10 dias corridos (até {{inv.due_date}}).
			{% endif %}
			
			<br/><br/>
			Sua empresa {{org.name}} possui, no momento, {{org.person_set.all.count}} funcionário{{org.person_set.all.count|pluralize}} registrado{{org.person_set.all.count|pluralize}}.<br/>
			O que implica numa mensalidade de R$ {{inv.ammount}}.
			
			
			<br/><br/>
			Clique <a href="{{url_boleto}}">aqui</a> para fazer download do boleto.
			
			<br/><br/><br/>
			
			Caso o link não funcione, copie e cole este endereço no seu navegador: {{url_boleto}}
			
			<br/><br/>
			Equipe GestorPsi
		</p>
	</body>
</html>