{% load i18n %}
<div class="form_email_box {% if forloop.first or not forloop.counter %}first{% endif %}" id="email_{% if forloop.counter %}{{ forloop.counter }}{% else %}1{% endif %}">
	<div class="form_email">
		<input type="hidden" name="email_id" value="{{ email.id }}" />
		<label>{% trans "Email" %}<br />
		<input type="text" class="big" name="email_email" value="{{ email.email }}" />
		</label>
	
		<label>{% trans "Type" %}<br />
		{% if not EmailTypes %}
			{% trans "There is no types available to choice" %}
		{% else %}
		<select name="email_type" class="small">
		{% for EmailType in EmailTypes %}
			<option value="{{ EmailType.id }}" {% ifequal email.email_type.id EmailType.id %} selected{% endifequal %}>{{ EmailType }}</option>
		{% endfor %}
		</select>
		{% endif %}
		</label>
	</div>
</div>
{% if object.id %}
<label><br /><a class="notajax remove_from_form" delete="email_{{ forloop.counter }}" title="{% trans "Delete" %}"><span>{% trans "Delete" %}</span></a></label>
{% endif %}


