{% for m in messages %}
    
    {% if 'erro' in m.tags %} 
        <div id='msg_area' class="msg_area_top error">
            <strong>{{ m|safe }}</strong>
    {% endif %} 
    
    {% if 'success' in m.tags %}
        <div id='msg_area' class="msg_area_top success">
            <strong>{{ m|safe }}</strong>
    {% endif %}

    {% if 'info' in m.tags %}
        <div id='msg_area' class="msg_area_top info">
            <strong>{{ m|safe }}</strong>
    {% endif %}

    <!-- close link and close div -->
            <a class="close_link"><img src="/media/img/close.gif" /></a>
        </div>

{% endfor %}
