{% load i18n %}
{% load calculate_age %}

<script type="text/javascript">
$(document).ready(function()
{

});
</script>


<!--
People Personal Identification Form	
-->
<fieldset class="fieldset_personal_identification">
	<legend>{% trans "Personal Identification" %}</legend>
	<label>
		{{form.name.label}}
		<br />
		{{ form.name }}
        {#<span class="error_message">{{ form.name.errors|striptags }}</span>#}
	</label>
	<label>
		{{form.nickname.label}}
		<br />
		{{ form.nickname }}
        {#<span class="error_message">{{ form.nickname.errors|striptags }}</span>#}
	</label>
</fieldset>

<!--
People Personal Profile Form	
-->
<fieldset>
       <legend>{% trans "Personal Profile" %}</legend>

           <label>
           	{{form.birthDate.label}}<br />
               {{form.birthDate}}
           	{#<span class="error_message">{{ form.birthDate.errors|striptags }}</span>#}
           </label>

       	<label>
			{{form.years.label}}<br />
            {{form.years}}
       	</label>
       
        <br />
        <br />

       	<label>
           {{form.birthDateSupposed}}
           {{form.birthDateSupposed.label}}
       	</label>
       
        <br />
        <br />

       	<label>
       		{{form.maritalStatus.label}}<br />
			{{ form.maritalStatus }}
           	{#<span class="error_message">{{ form.maritalStatus.errors|striptags }}</span>#}
       	</label>
</fieldset>

<fieldset>
	<legend>{% trans "Naturality" %}</legend>
	<div>
		<label>
			{{form.birthCountry.label}}<br />
			{{form.birthCountry}}
		</label>
		
		<!--auto complete city-->
		<label class="autocomplete state"{% if not form.instance.birthState %} style="display:none"{% endif %}>
			{{form.birthState.label}}<br />
			{{form.birthState}}
		</label>
		
		<label class="autocomplete city"{% if not form.instance.birthPlace %} style="display:none"{% endif %}>
			{{form.birthPlace.label}}<br />
			{{form.birthPlace}}
		</label>
		
		<!--no autocomplete-->
		<label class="noautocomplete"{% if not form.instance.birthForeignState %} style="display:none"{% endif %}>
			{{form.birthForeignState.label}}<br />
			{{form.birthForeignState}}
		</label>
		
		<label class="noautocomplete"{% if not form.instance.birthForeignCity %} style="display:none"{% endif %}>
			{{form.birthForeignCity.label}}<br />
			{{form.birthForeignCity}}
		</label>
	</div>
</fieldset>
