<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>CareProfessionals</title>
</head>
<body>

<table id="search_results" class="zebra" border="0" cellspacing="0" cellpadding="0">

        {% for l in object %}
        <tr>
                <!--<td><a href="{% url gestorpsi.client.views.form l.id %}">{{ l.name }}</a></td>-->
                <td><a href="/psychologist/{{ l.id }}">{{ l.person.name }}</a></td>               
               
        </tr>
        {% endfor %}
</table>     

</body>
</html>
