<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>GestorPsi</title>
</head>
<body>
<h1>{{ message }}</h1>
 <form  method='POST' action="/login/authentication">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />    
  </form>  
  </body>
</html>
