{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset confirmation' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
<fieldset>

<label>{{ form.new_password1.errors }}{% trans 'New password:' %}<br />
{{ form.new_password1 }}
</label>

<label>{{ form.new_password2.errors }}{% trans 'Confirm password:' %}<br />
{{ form.new_password2 }}
</label>

<input type="submit" class="submit" value="{% trans 'Change my password' %}" />
</fieldset>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
