{% load i18n %}

{% autoescape off %}
    {% trans "Bom dia!" %}
    {% trans "Você solicitou uma redefinição de senha" %}.

    {% trans "Your username, in case you've forgotten:" %} {{ user.username }}

    {% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %}{{ protocol }}://{{ domain }}{% url authentication-password-reset-confirm uidb36=uid, token=token %}{% endblock %}

    Obrigado por utilizar o GestorPSI.
    GestorPsi - Prontuários Eletrônicos e Gestão de Serviços em Psicologia.
    www.gestorpsi.com.br
{% endautoescape %}
