{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}{% trans "Registration" %}{% endblock %}
{% block content %}

  <h1>{% trans "New account" %} </h1>




  <form method="post" action="">
	    {{ form.as_p }}
    <p class="submit"><input type="submit" value="{% trans "Register" %}" class="btn" /></p>
  </form>

 <p>{% trans "Fill out the form to the left (all fields are required), and your account will be created; you'll be sent an email with instructions on how to finish your registration" %}.</p>

<p><a href="/accounts/login/">{% trans "Already have an account?" %}</a></p>

{% endblock %}



