<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load i18n %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>GestorPsi - {% trans "Sistema de Gestão de Serviços em Psicologia" %}{% block title %}{% endblock %}</title>
<script type="text/javascript" src="/media/js/jquery-latest.pack.js"></script> <!-- JQuery Core Library -->
<script type="text/javascript" src="/media/js/jquery.form.js"></script> <!-- jQuery Form Plugin -->
<script type="text/javascript" src="/media/js/jquery.validate.pack.js"></script> <!-- jQuery validation plug-in -->
<script type="text/javascript" src="/media/js/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-personalized-1.5.2.min.js"></script> <!-- JQuery UI with Draggable -->
<script type="text/javascript" src="/media/js/jquery.dimensions.js"></script> <!-- Fixed Save Menu (sidebar right) -->
<script type="text/javascript" src="/media/js/jquery.maskedinput-1.1.3.pack.js"></script> <!-- JQuery Masked Input Plugin -->
<script type="text/javascript" src="/media/js/jquery.scrollTo-min.js"></script> <!-- JQuery Scroll on Page Plugin -->

<script type="text/javascript" src="/media/js/gestorpsi.frontend.js"></script> <!-- gestorpsi interface (ajax links and other stuffs) -->

<style type="text/css" media="all">
@import "/media/css/layout.css";
@import "/media/css/jquery.autocomplete.css";
@import "/media/css/datePicker.css";
</style>


</head>

<body>
    <div id="bar"><h1>[GestorPSI]</h1></div>
    
    <div id="main_area" class="login">
    

		<form name="loginform" id="loginform" action="/login/select_user_organization" method="post">
		<p><label>Selecione uma organização</label><br /></p>
		<p>
		<select name="organization" class="medium" id="organization" >
	
			{% for object in objects %}
				<option value="{{ object.id }}"> {{ object.name }} </option>
			{% endfor %}
		
		</select>
		</p>
		<input type="submit" name="enter" id="enter" value="Entrar" tabindex="100" class="btn" />
		</form>


	</div>
</body>
</html>
