{% include "core/ajax_page_list.html" %}

<script type="text/javascript">
    bindSchedule();
</script>

{% load i18n %}

<div id="msg_area" class="alert" style="display: none"><!-- ou class="error" ou "alert" sem classe -->
		Esta caixa é mostrada quando há mensagens
		</div>
		<h2 class="title_schedule">Daily view for <a href="#">Many Professionals</a> 
        <!-- esse span deve ficar aqui dentro para funcionar -->

        <span style="position: relative">
        <a href="#" class="option toggle" display="div.filter.places">{% trans "places" %}</a>
        	<div class="filter incols places" style="display:none">
            	<table>
            	    {% for o in places %}
                	<tr>
                    	<td nowrap="nowrap"><a href="#" class="filter_by" status="on" type="places" uuid="{{ o.id }}"><img src="/media/img/chk.png" />{{ o }}</a></td>
                    	<td><span class="color{{ o.css_color_class }}">&nbsp;&nbsp;</span></td>
                    </tr>
                    {% endfor %}
                    <tr>
                    	<td colspan="2"><hr /></td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" class="all"><a href="#" status="on" class="filter_by all"><img src="/media/img/chk.png" />{% trans "All Places" %}</a></td>
                    </tr>
                </table>
            </div>
        </span>
        
        <span style="position: relative">
        <a href="#" class="option toggle" display="div.filter.rooms">{% trans "rooms" %}</a>
        	<div class="filter incols rooms" style="display:none">
            	<table>
            	    {% for place in places %}{% for o in place.room_set.all %}
                	<tr>
                    	<td nowrap="nowrap"><a href="#" class="filter_by" status="on" type="rooms" uuid="{{ o.id }}"><img src="/media/img/chk.png" />{{ o }}</a></td>
                    	<td><span class="color{{ o.css_color_class }}">&nbsp;&nbsp;</span></td>
                    </tr>
                    {% endfor %}{% endfor %}
                    <tr>
                    	<td colspan="2"><hr /></td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" class="all"><a href="#" status="on" class="filter_by all"><img src="/media/img/chk.png" />{% trans "All Rooms" %}</a></td>
                    </tr>
                </table>
            </div>
        </span>


        <span style="position: relative">
        <a href="#" class="option toggle" display="div.filter.service">{% trans "services" %}</a>
        	<div class="filter service" style="display:none">
            	<table>
            	    {% for o in services %}
                	<tr>
                    	<td nowrap="nowrap"><a href="#" class="filter_by" status="on" type="service" uuid="{{ o.id }}"><img src="/media/img/chk.png" />{{ o }}</a></td>
                    	<td><span class="color{{ o.css_color_class }}">&nbsp;&nbsp;</span></td>
                    </tr>
                    {% endfor %}
                    <tr>
                    	<td colspan="2"><hr /></td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" class="all"><a href="#" status="on" class="filter_by all"><img src="/media/img/chk.png" />{% trans "All Services" %}</a></td>
                    </tr>
                </table>
            </div>
        </span>


        <span style="position: relative">
        <a href="#" class="option toggle" display="div.filter.professional">profissionais</a>
            <div class="filter professional" style="display:none">
                    <table>
                        {% for o in professionals %}
                        <tr>
                            <td nowrap="nowrap"><a href="#" class="filter_by" status="on" type="professional" uuid="{{ o.id }}"><img src="/media/img/chk.png" />{{ o }}</a></td>
                        </tr>
                        {% endfor %}
                         <tr>
                            <td><hr /></td>
                        </tr>
                         <tr>
                             <td nowrap="nowrap" class="all"><a href="#" status="on" class="filter_by all"><img src="/media/img/chk.png" />{% trans "All Professionals" %}</a></td>
                         </tr> 
                    </table> 
               </div>
        </span> 
        <!-- fim do popup -->


        <!-- fim do outro -->
        </h2>
        <a id="calendar_link" href="#"></a>
        <div id="mini_calendar" style="display:none;"></div>
        
		<p class="description">O dia de hoje possui <a href="#">05 consultas</a>, <a href="#">02 retornos</a>, <a href="#">01 reunião</a> e <a href="#">01 treinamento</a>.</p>


		<div class="schedule">
			<div id="search_header">
				<h2><a class="json_ocorrences prev_day" href="{% url schedule-daily-occurrences prev_day.year prev_day.month prev_day.day %}" id="nav_back"></a>
				<span class="date_selected"></span>
                <a class="json_ocorrences next_day" href="{% url schedule-daily-occurrences next_day.year next_day.month next_day.day %}" id="nav_fwd"></a>
				</h2>	
		    </div>
        <!-- este popup pode ir fora, pois tem posicao absoluta -->
        <div class="filter room" style="display:none">
                <table>
                    {% for place in places %}{% for room in place.room_set.all %}
					<tr>
                    	<td nowrap="nowrap"><a href="#" class="filter_by" type="room" uuid="{{ room.id }}"><img src="/media/img/chk.png" />  {{ room }}</a></td>
                    </tr>
                    {% endfor %}{% endfor %}
                    <tr>
                    	<td><hr /></td>
                    </tr>
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk_off.png" />  Todas as salas</a></td>

                    </tr>
                </table>
            </div>
            
            <table class="schedule_results daily zebra" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="schedule"></th>
					{% for place in places %}{% for room in place.room_set.all %}
					    <th room="{{ room.id }}" place="{{ place.id }}">{{ room }}</th>
					{% endfor %}{% endfor %}
				</tr>
				{% for tm,cells in timeslots %}
				<tr hour="{{ tm|date:"H:i:s" }}">
				    <td class="hour">{{ tm|date:"H:i" }}</td>
				    {% for place in places %}{% for room in place.room_set.all %}
                        <td class="clean" room="{{ room.id }}" place="{{ place.id }}"><a href="{% url swingtime-add-event %}?dtstart={{ tm.isoformat }}&room={{ room.id }}" class="book ajax">{% trans "Free" %}</a></td>
                    {% endfor %}{% endfor %}
				</tr>
				{% endfor %}
            </table>
		</div>


    
    

