{% include "core/ajax_page_list.html" %}

<script type="text/javascript">
    bindSchedule();
</script>

{% load i18n %}

<div id="msg_area" class="alert" style="display: none"><!-- ou class="error" ou "alert" sem classe -->
		Esta caixa é mostrada quando há mensagens
		</div>
		<h2 class="title_schedule">Daily view for <a href="#">Many Professionals</a> 
        <!-- esse span deve ficar aqui dentro para funcionar -->

        <span style="position: relative">
        <a href="#" class="option" onclick="$('div.filter_professional').toggle(); return false;">profissionais</a>
            <!-- esse popup deve ficar dentro do span para funcionar, pois tem posicao relativa -->
        <div class="filter professional" style="display:none">
                <table>
                	<tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Dr Douglas Azevedo</a></td>
                        <td><span class="color12" onclick="$('#colors').toggle();">a
                        <!-- esse popup deve ficar dentro do span para funcionar, pois tem posicao relativa -->

                        <div id="colors">
                        <table cellspacing="5">
                        	<tr>
                            	<td><span class="color01">a</span></td>
                               	<td><span class="color09">a</span></td>
                                <td><span class="color17">a</span></td>
                            </tr>

                        	<tr>
                            	<td><span class="color02">a</span></td>
                               	<td><span class="color10">a</span></td>
                                <td><span class="color18">a</span></td>
                            </tr>
                        	<tr>
                            	<td><span class="color03">a</span></td>

                               	<td><span class="color11">a</span></td>
                                <td><span class="color19">a</span></td>
                            </tr>
                        	<tr>
                            	<td><span class="color04">a</span></td>
                               	<td><span class="color12">X</span></td>
                                <td><span class="color20">a</span></td>

                            </tr>
                        	<tr>
                            	<td><span class="color05">a</span></td>
                               	<td><span class="color13">a</span></td>
                                <td><span class="color21">a</span></td>
                            </tr>
                        	<tr>

                            	<td><span class="color06">a</span></td>
                               	<td><span class="color14">a</span></td>
                                <td><span class="color22">a</span></td>
                            </tr>
                        	<tr>
                            	<td><span class="color07">a</span></td>
                               	<td><span class="color15">a</span></td>

                                <td><span class="color23">a</span></td>
                            </tr>
                        	<tr>
                            	<td><span class="color08">a</span></td>
                               	<td><span class="color16">a</span></td>
                                <td><span class="color24">a</span></td>
                            </tr>

                            
                            
                        </table>    	    
                        </div>	
                        
                        
                        </span>
                        </td>
                    </tr>	
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk_off.png" /> Dr Anterson Turci</a></td>
                        <td><span class="color19">a</span></td>
                    </tr>

                     <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" /> Dr Antônio Almeida da Silva</a></td>
                        <td><span class="color15">a</span> </td>
                    </tr> <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" /> Dra Silvia Priscila Pedra</a></td>

                        <td><span class="color22">a</span></td>
                    </tr> <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" /> Dra Patrícia Gonçalves Dias</a></td>
                        <td> <span class="color10">a</span></td>
                    </tr>
                    
                     <tr>

                    	<td colspan="2"><hr /></td>
                    </tr>
                     <tr>
                         <td nowrap="nowrap"><a href="#"><img src="/media/img/chk_off.png" /> Todos os profissionais</a></td>
                         <td></td>
                     </tr> 
               	</table> 
               </div>
        </span> 
        <!-- fim do popup -->

        <span style="position: relative"><a href="#" class="option" onclick="$('services').toggle();">serviços</a>
        	<div class="filter service" style="display:none">
            	<table>
                	<tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Serviço 1</a></td>
                    </tr>
                    <tr>

                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk_off.png" />  Serviço 2</a></td>
                    </tr>
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Serviço 3</a></td>
                    </tr>
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Serviço 4</a></td>

                    </tr>
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Serviço 5</a></td>
                    </tr>
                    <tr>
                    	<td><hr /></td>
                    </tr>
                    <tr>

                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk_off.png" />  Todos os serviços</a></td>
                    </tr>
                </table>
            </div>
        </span>
        <!-- fim do outro -->
        </h2>
        <a id="calendar_link" href="#"></a>
        <div id="mini_calendar" style="display:none;"></div>
        
		<p class="description">O dia de hoje possui <a href="#">05 consultas</a>, <a href="#">02 retornos</a>, <a href="#">01 reunião</a> e <a href="#">01 treinamento</a>.</p>


		<div class="schedule">
			<div id="search_header">
				<h2><a class="json_ocorrences prev_day" href="{% url schedule-daily-occurrences prev_day.year prev_day.month prev_day.day %}" id="nav_back"></a>
				<span class="date_selected"></span>
                <a class="json_ocorrences next_day" href="{% url schedule-daily-occurrences next_day.year next_day.month next_day.day %}" id="nav_fwd"></a>
				</h2>	
		    </div>
        <!-- este popup pode ir fora, pois tem posicao absoluta -->
        <div class="filter room" style="display:none">
                <table>
                	<tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Sala 1</a></td>
                    </tr>
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk_off.png" />  Sala 2</a></td>
                    </tr>

                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Sala 3</a></td>
                    </tr>
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  Sala 4</a></td>
                    </tr>
                    <tr>

                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk.png" />  &Aacute;udio e V&iacute;deo</a></td>
                    </tr>
                    <tr>
                    	<td><hr /></td>
                    </tr>
                    <tr>
                    	<td nowrap="nowrap"><a href="#"><img src="/media/img/chk_off.png" />  Todas as salas</a></td>

                    </tr>
                </table>
            </div>
            
            <table class="schedule_results daily zebra" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="schedule"><a href="#" onclick="$('rooms').toggle();">salas</a></th>
					{% for place in places %}{% for room in place.room_set.all %}
					    <th>{{ room }}</th>
					{% endfor %}{% endfor %}
				</tr>
				{% for tm,cells in timeslots %}
				<tr hour="{{ tm|date:"H:i:s" }}">
				    <td class="hour">{{ tm|date:"H:i" }}</td>
				    {% for place in places %}{% for room in place.room_set.all %}
                        <td class="clean" room="{{ room.id }}"><a href="{% url swingtime-add-event %}?dtstart={{ tm.isoformat }}&room={{ room.id }}" class="book ajax">{% trans "Free" %}</a></td>
                    {% endfor %}{% endfor %}
				</tr>
				{% endfor %}
            </table>
		</div>


    
    

