{% load i18n %}
{% include "core/ajax_page.html" %}


<h2 id="title_addressbook" style="display:none"></h2>

{% if object.id %}
	<div class="edit_form">
	<h2 class="title_employee">{{ object.person.name }}</h2>
{% else %}
	<h2 class="title_employee">{% trans "Adding New Employee" %}</h2>
	<p class="description">{% trans "Inform the employee details then click on Save button" %}</p>
{% endif %}


</p>
<h2 id="title_contacts" style="display:none"></h2>
<h2 id="title_myoffice" style="display:none"></h2>


<form action="/employee/{% if object.id %}{{ object.id }}/{% endif %}save/" method="post" id="form_employee" class="form_people collapsable form_employee">	
<div id="main_area">

	<a href="" id="help">&nbsp;</a>
	<!-- DataTypes form menu -->
	
	
	{% include "meta/people_indentification.html" %}
	
	<!--
	Employee infos
	-->
	
	<fieldset id="fieldset_employee_details">
		<legend>{% trans "Personal Identification" %}</legend>
			<label>{% trans "Job" %}<br />
			<input type="text" name="job" class="big" value="{{ object.job }}" id="id_job" />
			</label>
			<label>{% trans "Hiredate" %}<br />
			<input type="text" name="hiredate" class="calendar birthdate" value="{% ifnotequal object.hiredate None %}{{ object.hiredate }}{% endifnotequal %}" id="id_hiredate" />
			</label>
	</fieldset>

	{% include "meta/people_profile.html" %}
	{% include "meta/addressbook.html" %}
	{% include "meta/internet.html" %}

<br />	
</div>

<div id="sidebar">
	<div class="bg_blue">
		{% include "tags/save.html" %}
	</div>
	
</div>

</form>

{% include "tags/upload.html" %}

{% if object.id %}
</div> <!-- edit_form -->
{% endif %}

