#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
    Copyright (C) 2008 GestorPsi
     
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
"""

'''
    header file for script files
    set path : full path to project root folder
'''

import sys, locale
from os import environ

reload(sys)
sys.setdefaultencoding("utf-8")
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

environ['DJANGO_SETTINGS_MODULE'] = 'gestorpsi.settings'
sys.path.append('..')

# libray / Full path to libraries
sys.path.append("/usr/lib/python2.7/dist-packages")

# project / Full path to root project Django, manage.py
path="/home/user/Desktop/dev/gestorpsi_github" 

# append paths inside of project
sys.path.append("%s/gestorpsi" % path )
sys.path.append("%s/scripts" % path)
