{% extends "gcm/main.html" %}

{% load i18n %}

{% block section %}{% trans "Invoice Configurations" %}{% endblock %}
{% block title %}{% trans "Invoice Configurations" %}{% endblock %}


{% block submenu %}
<ul>
    <li><a href="{% url retfile-list %}">{% trans "Return Files" %}</a></li>
    <li>&nbsp;&nbsp;</li>
    <li><a href="{% url billet-config %}">{% trans "Configurations" %}</a></li>
</ul>
<br/><br/>
 - a field to define the standard day to the billets expiry (this one makes no sense. 
 We need to check with the client. Billets expiry based on their plans right now).<br/>
 - a field to define the inscription value.<br/>
 - the form from the admin with the company data to generate the billets (I bet Oliver doesn't want to use django admin).<br/>
<br/><br/>
{% endblock %}

{% block core %}
<script>
$(function() {
    $('input[name=date_payed], input[name=due_date], input[name=expiry_date]').datepicker();
});
</script>
<h2>{{ object }}</h2>
<form action="{% url billet-config %}" method="post">
    <fieldset>
        <legend>{% trans "Plan Details" %}</legend>
        {% for field in form %}
        <p>
        {{ field.errors }}
        <label>{{ field.label }}</label><br>
        {{ field }}
        <small>{{ field.help_text }}</small>
        </p>
        {% endfor %}
    <p><br /><input type="submit" value="{% trans "Save" %}" class="submit"></p>
    </fieldset>
</form>

<a href="{% url invoice-list %}">{% trans "Back" %}</a>
{% if object %}<a href="{% url invoice-add %}">{% trans "Add" %}</a>{% endif %}
{% endblock %}
