{% extends "gcm/main.html" %}

{% load i18n %}

{% block section %}{% trans "Organizacoes Pendentes" %}{% endblock %}
{% block title %}{% trans "Organizacoes Pendentes" %}{% endblock %}

{% block core %}
{% trans "Deseja realmente deletar " %} <b>{{ object.name }}</b> ?
<br>
{% trans "Todos os registros relacionado serão excluídos também" %}
<br><br>
    <form action="" method="post">
    <div>
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Sim" %}" />
    </form>
    </div>
    <br />
<a href="{% url org-pen-list %}">{% trans "Cancelar" %}</a>
{% endblock %}
