{% extends "gcm/main.html" %}

{% load i18n %}

{% block section %}{% trans "Planos" %}{% endblock %}
{% block title %}{% trans "Planos" %}{% endblock %}

{% block core %}
{% if not object_list %}
<p>
    {% trans "Nenhuma fatura registrada até o momento!" %}
</p>

{% else %}
    <table>
    <tr><th>{% trans "Organizacao" %}</th><th>{% trans "Data" %}</th><th>{% trans "Plano" %}</th><th>{% trans "Estado" %}</th></tr>
    {% for object in object_list %}
    <tr class="{% cycle 'even' '' %}">
        <td>{{ object.organization }}</td>
        <td><a href="{% url invoice-update object.id %}">{{ object.date|date:"d/m/Y" }}</a></td>
        <td>{{ object.plan }}</td>
        <td>{{ object.get_status_display }}</td>
    </tr>
    {% endfor %}
    </table>

{% endif %}

<a href="{% url invoice-add %}">{% trans "Add" %}</a>
{% endblock %}
