{% extends "gcm/main.html" %}

{% load i18n %}

{% block core %}
<h2></h2>
{{ form.errors }}
<form method="post">
{% csrf_token %} 
<legend>{% trans "GCM" %}</legend>
<p>
{{ form.username.errors }}
<label>{% trans "Username" %}</label><br>
{{ form.username }}
</p>
<p>
{{ form.password.errors }}
<label>{% trans "Password" %}</label><br>
{{ form.password }}
</p>
<p>
<input type="hidden" name="next" value="{% if not next %}/gcm/orgpen/{% else %}{{ next }}{% endif %}" />
<input type="submit" value="{% trans "Log in" %}" class="btn"/>
</p>
</form>
{% endblock %}
