{% if user.is_superuser %}
    <!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">

        <head>
            {% load i18n %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <title>GestorPsi {% trans "GCM" %} - {% block title %}{% trans "Inicio" %}{% endblock %}</title>

            <link href="/media/img/gestorpsi.ico" rel="SHORTCUT ICON" />
            <link rel="stylesheet" href="/media/uikit/css/uikit.min.css" />

            <script src="/media/uikit/js/jquery-1.11.1.js"></script>
            <script src="/media/uikit/js/uikit.js"></script>

            {% block extrahead %}{% endblock extrahead %}
        </head>


        <body>

            <!-- export e-mails -->
            <div id="my-id" class="uk-modal">
                <div class="uk-modal-dialog uk-modal-dialog-large">
                    <button class="uk-modal-close uk-close" type="button"></button>
                    <h2>E-mail do administrador e secretaria das organiza&ccedil;&otilde;es selecionadas ({{ export_email_count }})</h2>
                    <p>{{ export_email }}</p>
                </div>
            </div>

            <!-- menu filter -->
            <form class="uk-form" action="{% url org-list %}" method="post">
                <div class='uk-content uk-width-1-1 uk-container uk-container-center uk-grid-width-*'>
                    <fieldset>
                        <legend><a href='{% url gcm-index %}'>GestorPSI GCM</a></legend>
                        <input type="text" placeholder="nome organiza&ccedil;&atilde;o" name="search_org_name" value="{% if request.session.filter.0 %}{{ request.session.filter.0 }}{% endif %}">
                        <input type="text" placeholder="inscri&ccedil;&atilde;o inicio 31/12/2000" name='subscription_start' value="{% if request.session.filter.1 %}{{ request.session.filter.1 }}{% endif %}">
                        <input type="text" placeholder="inscri&ccedil;&atilde;o fim 31/12/2000" name='subscription_end' value="{% if request.session.filter.2 %}{{ request.session.filter.2 }}{% endif %}">

                        <select name="order_by">
                            <option value="c" {% ifequal request.session.filter.3 'c' %} selected {% endifequal %}>Crescente</option>
                            <option value="d" {% ifequal request.session.filter.3 'd' %} selected {% endifequal %}>Decrescente</option>
                        </select>

                        <div data-uk-dropdown class="uk-button-dropdown">
                            <button class="uk-button">Filtros <i class="uk-icon-caret-down"></i></button>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li>&nbsp;&nbsp;&nbsp;Ativo <input type="checkbox" name="option_active" {% if request.session.filter.4 %} checked {% endif %}></li>
                                    <li class="uk-nav-divider"></li>
                                    <li>&nbsp;&nbsp;&nbsp;N&atilde;o ativo <input type="checkbox" name="option_inactive" {% if request.session.filter.5 %} checked {% endif %}></li>
                                    <li class="uk-nav-divider"></li>
                                    <li>&nbsp;&nbsp;&nbsp;Suspenso <input type="checkbox" name="option_suspension" {% if request.session.filter.6 %} checked {% endif %}></li>
                                    <li class="uk-nav-divider"></li>
                                    <li>&nbsp;&nbsp;&nbsp;N&atilde;o suspenso <input type="checkbox" name="option_notsuspension" {% if request.session.filter.7 %} checked {% endif %}></li>
                                    <li class="uk-nav-divider"></li>
                                    <li>&nbsp;&nbsp;&nbsp;Zero cliente <input type="checkbox" name="option_zero_client" {% if request.session.filter.8 %} checked {% endif %}></li>
                                    <li class="uk-nav-divider"></li>
                                    <li>&nbsp;&nbsp;&nbsp;Fatura n&atilde;o paga <input type="checkbox" name="option_notpayed_invoice" {% if request.session.filter.9 %} checked {% endif %}></li>
                                </ul>
                            </div>
                        </div>

                        <button class="uk-button uk-button-primary">Ok</button>

                        <a href="/admin/logout/">Sair</a>

                    </fieldset>
                </div>

                <div class='uk-content uk-width-1-1 uk-container uk-container-center uk-grid-width-*'>
                    <fieldset>
                        {% if object_list %}
                            <button class="uk-button" type="button">Resgistros encontrados {{ object_list.count }}</button>
                            <a href="#my-id" data-uk-modal>e-mail usu&aacute;rio</a>
                        {% endif %}
                    </fieldset>
                </div>
            </form>

            <!-- messages -->
            {% if messages %}
                    {% for message in messages %}
                        {{ message|safe }}
                    {% endfor %}
            {% endif %}
            
            <!-- core code -->
            <div class="uk-width-medium-1-1 uk-container uk-container-center">
            {% block core %}{% endblock %}
            </div>
            
            <div class="uk-container uk-container-center uk-width-medium-1-1 uk-text-center">
                <div class="uk-text-muted">GestorPsi © - PRONTU&Aacute;RIOS ELETR&Ocirc;NICOS E GEST&Atilde;O DE SERVI&Ccedil;OS EM PSICOLOGIA</div>
                <br />
                <br />
                <br />
            </div>

        </body>
    </html>
{% endif %}
