{% extends "gcm/main.html" %}

{% load i18n %}

{% block section %}{% trans "Organizacoes Pendentes" %}{% endblock %}
{% block title %}{% trans "Organizacoes Pendentes" %}{% endblock %}

{% block core %}

<h2>{% trans "Dados pendente a aprovacao" %}</h2>

<strong>{% trans "Dados da Organizacão" %}</strong>
<hr>
<p>
    <strong>{% trans "Nome" %}</strong>: {{ object.name }}
    <br />
    <strong>{% trans "Sigla" %}</strong>: {{ object.short_name }}
</p>

{% for p in object.care_professionals %}
<strong>{% trans "Dados do Profissional" %}</strong>
<hr>
<p>
    <strong>{% trans "Nome" %}</strong>: {{ p.name }}
    <br />
    <strong>{% trans "CPF" %}</strong>: {{ p.document.all.0.document }}
    <br />
    <strong>{% trans "Fone" %}</strong>: ({{ p.phones.all.0.area }}) {{ p.phones.all.0.phoneNumber }}
    <br />
    <strong>{% trans "Endereco" %}</strong>: <br />
    {{ p.address.all.0.addressLine1 }}, {{ p.address.all.0.addressNumber }}<br />
    {{ p.address.all.0.zipCode }} {{ p.address.all.0.city }}/{{ p.address.all.0.city.state.shortName }}
</p>
{% endfor %}

{% for p in object.care_professionals %}
<strong>{% trans "Dados do Usuário" %}</strong>
<hr>
<p>
    <strong>{% trans "Usuário" %}</strong>: {{ p.profile.user.username }}
    <br />
    <strong>{% trans "Email" %}</strong>: {{ p.profile.user.email }}
    <br />
    <strong>{% trans "Senha" %}</strong>: ************
</p>
{% endfor %}

{% for i in object.invoice_set.all %}
<strong>{% trans "Dados do Plano de acesso" %}</strong>
<hr>
<p>
    <strong>{% trans "Plano" %}</strong>: {{ i.plan }}
    <br />
    <strong>{% trans "Valor" %}</strong>: {{ i.ammount }}
    <br />
    <strong>{% trans "Data da requisicão" %}</strong>: <a href="{% url invoice-update i.id %}">{{ i.date|date:"d/m/Y H:i:s" }}h</a>
    <br />
</p>
{% endfor %}
<p>
<a href="{% url org-pen-del object.id %}">{% trans "Excluir" %}</a>
<a href="{% url org-pen-activate object.id %}">{% trans "Aprovar" %}</a>

</p>
<a href="{% url org-pen-list %}">{% trans "Back" %}</a>
{% endblock %}
