{% extends "gcm/main.html" %}

{% load url from future %}
{% load i18n %}

{% block section %}{% trans "Organizacoes" %}{% endblock %}
{% block title %}{% trans "Organizacoes" %}{% endblock %}

{% block core %}

        {% if not object_list %}
            <p>{% trans "Não existem organizacoes cadastradas" %}</p>
        {% else %}
            <table>
                <tr>
                    <th>
                        <a href="{% url 'org-list' 'name' %}">
                            {% trans "Organizacao" %}
                        </a>
                    </th>
                    <th>
                        <a href="{% url 'org-list' 'employee_number' %}">
                            {% trans "Numero de profissionais" %}
                        </a>
                    </th>
                    <th>
                        <a href="{% url 'org-list' 'professionalresponsible__name' %}">
                            {% trans "Profissional responsavel" %}
                        </a>
                    </th>

                    <th>
                        {% trans "Profissional" %}
                    </th>

                    <th>
                        <a href="{% url 'org-list' 'date_created' %}">
                            {% trans "Data de inscricao" %}
                        </a>
                    </th>
                    <th>
                        Fone organiza&ccedil;&atilde;o
                    </th>
                    <th>
                        <a href="{% url 'org-list' 'active' %}">
                            {% trans "Ativo" %}
                        </a>
                    </th>
                </tr>

                {% for object in object_list %}
                    <tr class="{% cycle 'even' '' %}">
                        <td>
                            <a href="{% url 'org-update' object.id %}" class="tag">
                                {{ object.name }}
                            </a>
                        </td>
                        <td>
                            {{ object.care_professionals.count }}
                        </td>

                        <td>
                            {{ object.professionalresponsible.name }} <br />
                            {{ object.professionalresponsible.person.phones.all.0.area }} - 
                            {{ object.professionalresponsible.person.phones.all.0.phoneNumber }}<br /><br />
                        </td>

                        <td>
                            {% for c in object.care_professionals.all %}
                                {{ c }}<br />
                                {% for f in c.phones.all %}
                                    {{ f }}<br />
                                {% endfor %}
                                <br />
                            {% endfor %}
                        </td>

                        <td>{{ object.date_created|date:"d/m/y - h:i" }}</td>

                        <td>
                            {% if object.phones.all %}
                                    {% for phone in object.phones.all %}
                                        {{ phone.area }} - {{ phone.phoneNumber }}<br />
                                    {% endfor %}
                            {% endif %}
                        </td>
                        <td>{% if object.active %}{% trans "Sim" %}{% else %}{% trans "Não" %}{% endif %}</td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
{% endblock %}
