{% extends "gcm/main.html" %}

{% load url from future %}
{% load i18n %}

{% block section %}{% trans "Organizacoes" %}{% endblock %}
{% block title %}{% trans "Organizacoes" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function()
{
	$('.invoice').click(function()
	{
		var temp = $(this).attr('id');
		$('[id^=form_invoice]').hide();
		$('#form_invoice_'+temp).show();
	});


	$('form.form_invoice').submit(function()
	{
		var aux = $(this).find('[name=status]').val();
		/*
		* 1 - emitido
		* 2 - pago
		* 3 - excluido
		*/
		//alert(aux);
		if (aux == '1')
			$(this).find('[name=date_payed]').val('');
		else
			if(aux == '2')
			{
				var d = new Date();
				var year = d.getFullYear();
				var month = d.getMonth();
				var day = d.getDate();
				$(this).find('[name=date_payed]').val(year+'-'+month+'-'+day);
			}
	});
});
</script>
{% endblock extrahead %}

{% block core %}
<h2>{{ object }}</h2>

{% trans "Organizacão" %} {{object.phones_set.all}}<strong>
	{% if object.active %}
		{% trans "Ativa" %}
	{% else %}{% endif %}
	{% if not object.active %}
		{% trans "Desativada" %}
	{% else %}{% endif %}
</strong> 
<a href="#" onclick="$('div.form_active').show('slow');">
	{% if object.active %}
		{% trans "Desativar?" %}
	{% else %}{% endif %}
	{% if not object.active %}
		{% trans "Ativar?" %}
	{% else %}{% endif %}
</a>

<div class="form_active" style="display:none;"><br />
<form action="{% url 'org-update' object.id %}" method="post">
    <fieldset>
        <legend>{% trans "Ativar/Desativar Organizacao" %}</legend>
        {{ form.errors }}
        <p style="display:none;">
        <label>{{ form.name.label }}</label><br>
        {{ form.name }}
        <label>{{ form.short_name.label }}</label><br>
        {{ form.short_name }}
        <label>{{ form.last_id_record.label }}</label><br>
        {{ form.last_id_record }}
        </p>
        <p>
        <label>{{ form.active.label }}</label><br>
        {{ form.active }}
        <small>{% trans "Desativando esta organizacao, ela ficará impossibitada de adicionar novo registros, ficarão apenas disponíveis dados para leitura como listagens, consultas, relatórios etc" %}</small>
        </p>
    	<p>
    		<br />
    		<input type="submit" value="{% trans "Save" %}" class="submit">
    	</p>
    </fieldset>
</form>
</div>


{% if object.phones.all %}
<br />
<br />
<table>
	<tr>
		<th>{% trans "Área" %}</th>
		<th>{% trans "Número" %}</th>
		<th>{% trans "Tipo" %}</th>
	</tr>
	<strong>{% trans "Telefones desta organizacão" %}</strong>
	<hr>
    {% for phone in object.phones.all %}
    <tr class="{% cycle 'even' '' %}">
        <td>{{ phone.area }}</td>
        <td>{{ phone.phoneNumber }}</td>
        <td>{{ phone.phoneType }}</td>
    </tr>
    {% empty %}
    Vazio
	{% endfor %}
</table>
{% endif %}


{% if object.professionalresponsible %}
<br />
<br />
<table>
	<tr>
		<th>{% trans "Nome" %}</th>
		<th>{% trans "Profissão" %}</th>
		<th>{% trans "Fones" %}</th>
	</tr>
	<strong>{% trans "Profissional responsável" %}</strong>
	<hr>
	    <tr class="{% cycle 'even' '' %}">
	        <td>{{ object.professionalresponsible.name }}</td>
	        <td>{{ object.professionalresponsible.profession }}</td>
	        <td>
	        	{% for phone in object.professionalresponsible.person.phones.all %}
	        	{%if phone.area%}{{phone.area}} : {%endif%}
	        	{%if phone.phoneNumber%}{{phone.phoneNumber}} : {%endif%}
	        	{%if phone.phoneType%}{{phone.phoneType}}{%endif%}<br/>
	        	{% empty %}
	        	-----------
	        	{% endfor %}
	        </td>
	    </tr>
</table>
{% endif %}


{% if object.invoice_set.all %}
<br />
<br />
<table>
	<tr>
		<th>{% trans "Data" %}</th>
		<th>{% trans "Plano" %}</th>
		<th>{% trans "Estado" %}</th>
		<th>{% trans "Valor" %}</th>
		<th>{% trans "Data de Vencimento" %}</th>
		<th>{% trans "Data Pagamento" %}</th>
	</tr>
	<strong>{% trans "Faturas desta organizacão" %}</strong>
	<hr>
    {% for invoice in object.invoice_set.all %}
    <tr class="invoice {% cycle 'even' '' %}" style="cursor: pointer;" id="{{invoice.id}}">
        <td><a href="{% url 'invoice-update' invoice.id %}">{{ object.date|date:"d/m/Y" }}</a></td>
        <td>{{ invoice.plan }}</td>
        <td>{{ invoice.get_status_display }}</td>
        <td>{{ invoice.ammount }}</td>
        <td>{% if not invoice.due_date %}-----{% else %}{{ invoice.due_date }}{% endif %}</td>
        <td>{% if not invoice.date_payed %}-----{% else %}{{ invoice.date_payed }}{% endif %}</td>
    </tr>
	<tr id="form_invoice_{{invoice.id}}" class="{% cycle 'even' '' %}" style="display: none;">
		<td colspan="6">
			<form class="form_invoice" action="{% url 'org-bill-update' invoice.id %}" method="post">
			    <fieldset>
			        <input type="hidden" name="organization" value="{{object.id}}" />
			        <input type="hidden" name="plan" value="{{invoice.plan.id}}" />
			        <input type="hidden" name="ammount" value="{{invoice.ammount|default:'0'}}" />
			        <input type="hidden" name="discount" value="{{invoice.discount|default:'0'}}" />
			        <input type="hidden" name="due_date" value="{{invoice.due_date|date:'Y-m-d'}}" />
			        <input type="hidden" name="date_payed" value="{{invoice.date_payed|date:'Y-m-d'}}" />
			        <input type="hidden" name="expiry_date" value="{{invoice.expiry_date|date:'Y-m-d'}}" />

			        <legend>{% trans "Altere o estado de pagamento desta fatura." %}</legend>
			        <label>Estado de pagamento: </label>
			    	<select name="status">
				    	<option value="1"{%ifequal invoice.status 1%} selected="selected"{%endifequal%}>
				    		Emitido
				    	</option>
				    	<option value="2"{%ifequal invoice.status 2%} selected="selected"{%endifequal%}>
				    		Pago
				    	</option>
				    	<option value="3"{%ifequal invoice.status 3%} selected="selected"{%endifequal%}>
				    		Excluido
				    	</option>
			    	</select>
		    		<input type="submit" value="{% trans "Save" %}" class="submit">
			    </fieldset>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<strong>{% trans "Esta organização não possui nenhuma fatura ainda." %}</strong>

<br/><br/>
<br/><br/>
{% endif %}


<a href="{% url 'org-list' %}">{% trans "Back" %}</a>
{% endblock %}
