{% extends "gcm/main.html" %}

{% load url from future %}
{% load i18n %}

{% block section %}{% trans "Organizacoes" %}{% endblock %}
{% block title %}{% trans "Organizacoes" %}{% endblock %}

{% block core %}
{% if not object_list %}
<p>{% trans "Não existem organizacoes cadastradas" %}</p>
{% else %}
    <table>
    <tr>
    	<th>
    		<a href="{% url 'org-list' 'name' %}">
    			{% trans "Organizacao" %}
    		</a>
    	</th>
    	<th>
    		<a href="{% url 'org-list' 'employee_number' %}">
    			{% trans "Numero de profissionais" %}
   			</a>
    	</th>
    	<th>
    		<a href="{% url 'org-list' 'professionalresponsible__name' %}">
    			{% trans "Profissional responsavel" %}
   			</a>
    	</th>
    	<th>
    		<a href="{% url 'org-list' 'date_created' %}">
    			{% trans "Data de inscricao" %}
   			</a>
    	</th>
    	<th>
   			{% trans "Fones" %}
    	</th>
    	<th>
    		<a href="{% url 'org-list' 'active' %}">
    			{% trans "Ativo" %}
   			</a>
    	</th>
    </tr>
    {% for object in object_list %}
    <tr class="{% cycle 'even' '' %}">
        <td>
            <a href="{% url 'org-update' object.id %}" class="tag">
            	{{ object.name }}
            </a>
        </td>
        <td>{{ object.care_professionals|length }}</td>
        <td>
	    {% for i in object.adminstrators %}
		<strong>{{ i }}</strong>
		<br />
		{% if i.emails.all %}
		    <small>
		    {% for e in i.emails.all %}
			{{ e }} {% if not forloop.last %}| {% endif %}
		    {% endfor %}
		    </small>
		    <br />
		{% endif %}
		{% if i.phones.all %}
		    <small>
		    {% for p in i.phones.all %}
			{{ p.area }} {{ p.phoneNumber }} {% if not forloop.last %}| {% endif %}
		    {% endfor %}
		    </small>
		    <br />
		{% endif %}
	    {% endfor %}
	</td>
        <td>{{ object.date_created|date:"d/m/y - h:i" }}</td>
        <td>
		{% if object.phones.all %}
			<table>
			    {% for phone in object.phones.all %}
			    <tr class="{% cycle 'even' '' %}">
			        <td>{{ phone.area }} - {{ phone.phoneNumber }}</td>
			        <td>{{ phone.phoneType }}</td>
			    </tr>
				{% endfor %}
			</table>
		{% else %}
		-----------
		{% endif %}
        </td>
        <td>{% if object.active %}{% trans "Sim" %}{% else %}{% trans "Não" %}{% endif %}</td>
    </tr>

    {% endfor %}
    </table>
{% endif %}
{% endblock %}
