{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}{% trans "Registration complete" %}{% endblock %}

{% block content %}
<h1>{% trans "Your account has been registered successfully." %}</h1>
<p>
	{% trans "Please wait until one of our operators to contact you for payment, and soon your account is enable for use." %}
	{% if url_boleto %}
	<br/><br/>
	<a href="{{url_boleto}}">{% trans "Click here to get the billet to test the system payment." %}</a>
	{% endif %}
	
	<br/><br/>{{url_boleto}}
</p>
{% endblock %}
