{% extends "registration/base.html" %}

{% load i18n %}

{% block title %}{% trans "Registration complete" %}{% endblock %}

    {% block content %}
    <h1>{% trans "Your account has been registered successfully." %}</h1>
    {% comment %}
    <p>{% trans "Please wait until one of our operators to contact you for payment, and soon your account is enable for use." %}</p>
    {% endcomment %}
    <p>Sua conta est&aacute; pronta para usar! Acesse o endere&ccedil;o abaixo e comece agora mesmo!</p>
    <h2><a href='https://app.gestorpsi.com.br'>https://app.gestorpsi.com.br</a></p></h2>

{% endblock %}
