{% load i18n %}
{% include "core/ajax_page.html" %}

{% if not object %}
 <div id="msg_area" class="alert">{% trans "There is no place available." %}</div>
{% else %}

<div id="msg_area" class="alert" style="display: none"><!-- ou class="error" ou "alert" sem classe -->
Esta caixa é mostrada quando há mensagens
</div>

<h2 id="title_contacts">{% trans "All Places" %}</h2>
<p class="description">{% trans "Displaying" %} <a href="/client">{{ object|length }} {% trans "place(s)" %}</a>.</p>


<div id="main_area" class="contact">

<table id="search_results" class="zebra" border="0" cellspacing="0" cellpadding="0">

        {% for o in object %}
        <tr>

                <!--<td><a href="{% url gestorpsi.client.views.form l.id %}">{{ l.name }}</a></td>-->
                <td><a href="/place/{{ o.id }}">{{ o }}</a></td>
                <!--
                <strong>[</strong><small><a href="{% url gestorpsi.client.views.delete l.id %}">Delete</a></small><strong>]</strong> <br>
                <td>(11) 2301 0751</td>
                -->
                <td>
               
                (11) 1234-1234
                 
                <br> 
                <a href="mailto:{{l.email }}">{{l.email }}</a></td>
                <td class="icons">&nbsp;</td>
               
        </tr>
        {% endfor %}
</table>
        
</div>
	
{% endif %}


