<html>
<body>    
    <form method="POST" action= "{% url gestorpsi.careprofessional.views.save %}" >
        <br>
        <h1>Person</h1>
        <table border= 1>
           {{ person_form.as_table }}
           {{ person_form.photo.emails.email.label_tag }}
           {{ person_form.emails.email }}
           {{ person_form.emails.email_type.label_tag }}
           {{ person_form.emails.email_type }}
        </table>
        <br>
        <h1>Address</h1>
        <table border= 1>
           {{ address_form.as_table }}           
        </table>        
        <br>
        
        <h1>InstituteType</h1>
        <table border= 1>
           {{ institute_form.as_table }}           
        </table>        
        <br>
        <h1>Pós Gradução</h1>
        <table border= 1>
           {{ postGraduate_form.as_table }}           
        </table>        
        <br>
        <h1>Profissão</h1>
        <table border= 1>
           {{ profession_form.as_table }}           
        </table>        
        <br>
        <h1>Convênio</h1>
        <table border= 1>
           {{ agreement_form.as_table }}           
        </table>        
        <br>        
        <h1>Curriculum</h1>
        <table border= 1>
           {{ resume_form.as_table }}           
        </table>        
        <br>
        <h1>Locais de Trablho</h1>
        <table border= 1>
           {{ workPlaces_form.as_table }}           
        </table>        
        <br>
        <h1>Perfil</h1>
        <table border= 1>
           {{ profile_form.as_table }}           
        </table>        
        <br>        
        <h1>Identificação</h1>
        <table border= 1>
           {{ identification_form.as_table }}           
        </table>        
        <br>
        <table border= 1>
           {{ careprofessional_form.comments.label_tag }}
           {{ careprofessional_form.comments }}
           {{ object.professionalProfile.academicResume.institutionType.description.label_tag }}
           {{ object.professionalProfile.academicResume.institutionType.description }}
        </table>        
       <br>
       <input type="submit" name="submit" value="Save" />
    </form>
    
</body>
</html>