{% load i18n %}
{% include "core/ajax_page.html" %}

<h2 id="title_addressbook" style="display:none"></h2>

{% if object.id %}
	<div class="edit_form">
	<h2 id="title_clients">{{ object.person.name }}</h2>
{% else %}
	<h2 id="title_clients">{% trans "Adding New Profesional" %}</h2>
	<p class="description">{% trans "Inform the professional details then click on Save button" %}</p>
{% endif %}


</p>
<h2 id="title_contacts" style="display:none"></h2>
<h2 id="title_myoffice" style="display:none"></h2>


<form action="/psychologist/{% if object.id %}{{ object.id }}/{% endif %}save/" method="post" id="form_careprofessional" class="form_people">	
<div id="main_area">

	<a href="" id="help">&nbsp;</a>
	<!-- DataTypes form menu -->
	
	
	{% include "meta/people_indentification.html" %}
	
	<!--
	Professional infos
	-->
	
	<fieldset id="fieldset_professional_identification">
		<legend>{% trans "Professional Identification" %}</legend>
			<label>{% trans "Area" %}<br />
			<select name="professional_area" class="medium">
				{% for l in PROFESSIONAL_AREAS %}
					<option value="{{ l.0 }}">{{ l.1 }}</option>
				{% endfor %}
			</select>
			</label>
			<label>{% trans "Licence" %}<br />
			<select name="professional_licenceBoard" class="small">
				{% for l in licenceBoardTypes %}
				<option value="{{ l.id }}">{{ l }}</option>
				{% endfor %}
			</select>
			</label>
			<label>{% trans "Register Number" %}<br />
				<input type="text" name="professional_registerNumber" />
			</label>
	</fieldset>

	<fieldset id="fieldset_professional_profile">
		<legend>{% trans "Professional Profile" %}</legend>
			<label>{% trans "Inital Activities Date" %}<br />
				<input type="text" name="professional_initialActivitiesDate" />
			</label>
			<label>{% trans "Services" %}<br />
				<input type="text" name="professional_services" />
			</label>
			<label>{% trans "Available Time" %}<br />
				<input type="text" name="professional_availableTime" />
			</label>	
	</fieldset>


	<fieldset id="fieldset_professional_agreement">
		<legend>{% trans "Professional Agreements" %}</legend>
			<label>{% trans "Agreements" %}<br />
			<select name="professional_agreement" multiple="multiple" class="select multiple extrabig">
				{% for l in AgreementTypes %}
				<option value="{{ l.id }}">{{ l }}</option>
				{% endfor %}
			</select>
			</label>
	</fieldset>


	<fieldset id="fieldset_professional_workplace">
		<legend>{% trans "Professional Workplaces" %}</legend>
			
			<label>{% trans "Workplaces" %}<br />
			<select name="professional_workplace" multiple="multiple" class="select multiple extrabig">
				{% for l in WorkPlacesTypes %}
				<option value="{{ l.id }}">{{ l }}</option>
				{% endfor %}
			</select>
			</label>
			<br />
			<a class="form_mini" display="place_mini">{% trans "Add New Workplace" %}</a>
			
			
			
	</fieldset>

	<fieldset id="fieldset_professional_status">
		<legend>{% trans "Professional Status" %}</legend>
			<label>{% trans "Active?" %}<br />
			<select id="id_active" name="professional_active" class="small">
				<option value="True" {% if object.active %} selected{% endif %}>{% trans "Yes" %}</option>
				<option value="False" {% if not object.active %} selected{% endif %}>{% trans "No" %}</option>
					
			</select>
			</label>
	</fieldset>

	{% include "meta/people_profile.html" %}
	{% include "meta/addressbook.html" %}
	{% include "meta/internet.html" %}

<br />	
</div>

<div id="sidebar">
	<div class="bg_blue">
		{% include "tags/save.html" %}
	</div>
	
</div>

</form>

{% include "tags/upload.html" %}
{% include "tags/place_mini.html" %}

{% if object.id %}
</div> <!-- edit_form -->
{% endif %}

